<h1>出品者情報</h1>
<table>
    <thead>
        <tr>
            <th>ユーザー名</th>
            <th>メールアドレス</th>
            <th>住所</th>
            <th>ステータス</th>
            <th>処理</th>
        </tr>
    </thead>

    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.mail %></td>
                <td><%= user.address %></td>
                <td><%= user.stop_flag ? "停止中" : "有効" %></td>
                <td><%= link_to (user.stop_flag ? "有効にする" : "停止する"), seller_info_update_path(user), method: :patch %></td>
            </tr>
        <% end %>    
    </tbody>
</table>
