<%= form_tag("") do %>
<ul>
    <li><%= check_box "customer_report", "不適切な商品である" %>不適切な商品である</li>
    <li><%= check_box "customer_report", "商品と名前が一致していない" %>商品と名前が一致していない</li>
    <li><%= check_box "customer_report", "過剰な金額" %>過剰な金額</li>
    <li><%= check_box "customer_report", "商品についての説明が不十分" %>商品についての説明が不十分</li>
    <li><%= check_box "customer_report", "商品を発送してくれない" %>商品を発送してくれない</li>
    <li><%= check_box "customer_report", "商品が破損している" %>商品が破損している</li>
    
</ul>


<% end %>
<div>
    <%= link_to image_tag("/assets/back.png"), product_detail_path(@current_user_id) %>
</div>

<div>
    <%= link_to image_tag("/assets/report_comp.png"), product_detail_path(@current_user_id) %>
</div>
