<h1 class="text-center">通報</h1>

    <div class="display-6">
        <%= @product.name %>
        <%= @product.user.name %>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">

            <%= form_with url: customer_report_create_path, method: :post do |form| %>
                <%= hidden_field_tag :product_id, @product.id %>
                <% @report_classes.each do |report_class| %>
                    <div class="row">
                        <div class="display-6">
                            <div class="col">
                                <%= form.check_box :report_comment, {multiple: true}, report_class.comment, nil %>
                                <%= form.label :report_comment, report_class.comment %>
                            </div>
                        </div>
                    </div>
                <% end %>
                    <div class="row">
                        <div class="col">
                            <%= form.check_box :other, {}, 1, nil %>
                            <%= form.label :other, "その他" %>
                            <%= form.text_field :other_comment %>
                        </div class="grid gap-0 row-gap-3">
                        <div class="p-2 g-col-6">
                            <%= form.submit "登録" %>
                        </div>
                    </div>
            <% end %>
        </div>
    </div>
</div>

<div>
    <%= link_to image_tag("/assets/back.png"), product_detail_path(@product.id) %>
</div>


