<h1>通報</h1>
<div container text-center>
    <div class="row">
        <%= @product.name %>
        <%= @product.user.name %>
        <%= form_with url: customer_report_create_path, method: :post do |form| %>
            <%= hidden_field_tag :product_id, @product.id %>
            <% @report_classes.each do |report_class| %>
                <div class="col">
                    <%= form.check_box :report_comment, {multiple: true}, report_class.comment, nil %>
                    <%= form.label :report_comment, report_class.comment %>
                </div>
            <% end %>
            <div class="col">
                <%= form.check_box :other, {}, 1, nil %>
                <%= form.label :other, "その他" %>
                <%= form.text_field :other_comment %>
            </div>
            <%= form.submit "登録" %>
        <% end %>
    </div>
</div>

<%# <div>
    <%= link_to image_tag("/assets/back.png"), product_detail_path(@current_user_id) %>
</div> %>

<%# <div>
    <%= link_to image_tag("/assets/report_comp.png"), product_detail_path(@current_user_id) %>
</div> %>
