<h1>編集</h1>

<%= form_with url: put_entry_update_path(@product.id), model: @product do |form| %>
<div class = "row mb">
    <div width="10px">
        <% if @product.image.present? %>
            <%= image_tag "product/#{@product.image}"%>
        <% end %>
    </div>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <div>
            画像
            <%= form.file_field :image %>
            </div>

            <div>
            商品名
            <%= form.text_field :name %>
            </div>

            <div>
            価格
            <%= form.text_field :price %>
            </div>

            <div>
            商品種別
            <%= form.collection_select :product_class_id, @product_classes, :id, :name %>
            </div>
        </div>
        <div class="col">
            商品の説明
            <%= form.text_area :explanation, :size=>"80x10", placeholder:example %>

            <%= form.submit "更新する" %>
        </div>

    </div>
</div>
<% end %>




<div>
    <%= link_to image_tag("/assets/back.png"), put_list_path(@product.id)%>
</div>



