<p id="notice"><%= notice %></p>
<div class="container-fluid mx-0 sticky-top bg-dark bg-gradient shadow-sm d-flex align-items-center" style="height:7%;">
    <h1 class="text-center"><%= link_to "Reuty", home_path, class: "link" %></h1>
</div>
<div>&nbsp;</div>
<h1>出品登録</h1>
            <div class="d-flex justify-content-center">
                <% @product.errors.full_messages.each do |message| %>
                    <font color="red"><%= message %>
                <% end %>
            </div>
            
                <%= form_with url: put_entry_create_path, model: @product do |form| %>
                    <div class="col put_entry">
                        <div class="box-child">
                            画像
                            <%= form.file_field :image %>
                        </div>

                        <div class="box-child">
                            商品名
                            <%= form.text_field :name %>
                        </div>

                        <div class="box-child">
                            価格
                            <%= form.text_field :price %>
                        </div>

                        <div class="box-child">
                            商品種別
                            <%= form.collection_select :product_class_id, @product_classes, :id, :name %>
                        </div>
                        
                        <div class="box-child">
                            商品の説明
                            <%= form.text_area :explanation, :size=>"80x10", placeholder:example %>
                            
                            </div>
                        </div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                        <div class="box-child">
                            <div class="text-center">
                                <%= form.submit "出品" %>
                            </div>
                        </div>
                    </div>
                <% end %>
<div>
    <%= link_to image_tag("/assets/back.png"), put_list_path(@current_user_id) %>
</div>


