<p id="notice"><%= notice %></p>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <div>
                <%=　image_tag("/assets/product/#{p.image}") %>
                <%= @product.user.name %>
            </div>
            <div>
                <%= @product.image %>
            </div>
            <div>
                <%= @product.name %>
            </div>
            <div>
                ￥<%= @product.price %>
            </div>
        </div>
        <div class="col">
            <div>
                <%= link_to image_tag("/assets/report.png"), customer_report_path(@product.id) %>
            </div>
            <h4>商品説明</h4>
            <div>
                <%= @product.explanation %>
            </div>
            <div>
                &nbsp;
            </div>
            <div>
                <%= link_to image_tag("/assets/purchases.png"), purchase_confirmation_path %>
            </div>
            <div>
                <%=  form_with url: product_question_create_path, model: @question do |form| %>
                    <%= form.hidden_field :user_id %>
                    <%= form.hidden_field :product_id %>
                    <%= form.text_field :comment %>
                    <%= form.submit "質問" %>
                <% end %>
            </div>
            <div>
                <% @product.questions.each do |question| %>
                    <div><%= question.comment %></div>
                    <div><%= question.user.name %></div>
                    <div><%= question.user.created_at %></div>
                <% end %>
            </div> 
        </div>
    </div>
</div>

