<p id="notice"><%= notice %></p>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <div>
                <%= @product.user.image %>
                <%= @product.user.name %>
            </div>
            <div>
                <%= @product.image %>
            </div>
            <div>
                <%= @product.name %>
            </div>
            <div>
                ￥<%= @product.price %>
            </div>
        </div>
        <div class="col">
            <div>
                <%= link_to image_tag("/assets/report.png"), customer_report_path %>
            </div>
            <div>
                <%= @product.explanation %>
            </div>
            <div>
                <%= image_tag("/assets/purchases.png") %>
            </div>
            <div>
                <%=  form_tag("/questions") do %>
                    <%= hidden_field :comment, :product_id, value: @product.user.id %>
                    <%= text_field :comment, :comment %>
                    <%= submit_tag "質問" %>
                <% end %>
            </div>
            <div>

            </div>
        </div>
    </div>
</div>

