<div class="sticky-top text-bg-dark bg-gradient  shadow-sm d-flex align-items-center" style="height:50px;">
    <div class="container">
        <div class="row">
            <h2 class="col">出品一覧</h2>
            <div class="col back"><%= link_to image_tag("/assets/back(2).png"), home_path %></div>
        </div>
    </div>
</div>

<div class="text-end">
    <%= link_to image_tag("/assets/put_entry.png"), put_entry_new_path %>
</div>


<table class="table table-sm">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th><h3>商品名</h3></th>
            <th><h3>価格</h3></th>
            <th><h3>&nbsp;</h3></th>
            <th><h3>&nbsp;</h3></th>                        
            <th colspan="3"></th>
        </tr>
    </thead>

    
    <tbody class="table-group-divider">
        <% @products.each do |product| %>
                <tr>
                    <td>
                        <div class="img-list">
                        <% if product.image.present? %>
                            <%= image_tag "product/#{product.image}", {class: "img-fluid"} %>
                        <% end %>
                    </td>
                    <td class="text-list"><h3><%= product.name %><h3></td>
                    <td class="text-list"><h3><%= product.price %><h3></td>
                    <td class="text-list"><h3><%= link_to '編集', put_entry_edit_path(product.id) %><h3></td>
                    <td class="text-list"><h3><%= link_to '削除', put_entry_destroy_path(product.id), method: :delete, data: { confirm: 'Are you sure?' } %></h3></td>
                </tr>
        <% end %>
    </tbody>
</table>



<%# <div class="fixed-bottom mx-0 bg-black bg-opacity-75 text-right text-white">
    <div>
        <%= link_to image_tag("/assets/back.png"), home_path %>
    <%# </div>
</div> %>




