<p id="notice"><%= notice %></p>
<table>
    <thead>
    <tr>
        <th>出品者名</th>
        <th>商品名</th>
        <th>価格</th>
        <th>販売状況</th>
        <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @products.each do |product| %>
        <tr>
        <td><%= product.user.name %></td>
        <td><%= product.name %></td>
        <td><%= product.price %>円</td>
        <td><%= product.sale %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
</table>
<%= link_to image_tag("/assets/back.png"), manage_path %>