<p id="notice"><%= notice %></p>
<div>
  <div>
  </div>
  <div>
      <img src="/assets/famous.png" >
      <%= link_to image_tag("/assets/sell.png"), put_list_path(@current_user.id) %>
  </div>
</div>
<div class="container text-center">
  <div class="row row-cols-auto">
    <% @products.each do |p| %>
      <div class="col-3">
        <div>
          <% if p.image.present? %>
            <%= link_to image_tag p.image, product_detail_path(p.id) %>
          <% else %>
            <%= link_to image_tag("/assets/product/sample.jfif"), product_detail_path(p.id) %>
          <% end %>
        </div>
        <div>
          <%= p.name %>
        </div>
        <div>
          <%= p.price %>円
        </div>
      </div>
    <% end %>
  </div>
</div>