<p id="notice"><%= notice %></p>
<div>
  <div>
  </div>
  <div class="text-end">
      <%= link_to image_tag("/assets/famous.png"), like_path(@current_user.id) %>
      <%= link_to image_tag("/assets/sell.png"), put_list_path(@current_user.id) %>
  </div>
</div>
<div>&nbsp;</div>
<div class="container text-center">
  <div class="row row-cols-auto">
    <% @products.each do |p| %>
      <div class="col-3">
        <div>
          <% if p.sale == "売り切れ" %>
            <div class="card text-bg-dark">
              <div class="img-container">
                <%= image_tag("/assets/product/#{p.image}") %>
              </div>
              <div class="card-img-overlay img-souldout">
                <%= image_tag("/assets/sould out.png") %>
              </div>
            </div>
          <% else %>
            <div class="card img-container border-dark mb-3">
              <% if p.image.present? %>
                <%= link_to image_tag("/assets/product/#{p.image}"), product_detail_path(p.id) %>
              <% else %>
                <%= link_to image_tag("/assets/product/sample.jfi"), product_detail_path(p.id) %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <div><%= p.name %></div>
              <div><%= p.price %>円</div>
            </div>
            <% if p.sale == "販売中" %>
              <% if p.favorite?(@current_user.id) %>
                <div class="col img-star">
                  <%= image_tag("/assets/star.png") %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>