<p id="notice"><%= notice %></p>
<thead>
  <div>
  </div>
  </div>
      <img src="/assets/famous.png" >
      <img src="/assets/sell.png" >
  <div>
</thead>
<div class="container text-center">

    <% @products.each_slice(4) do |p1, p2, p3, p4| %>
      <div class="row">
        <div class="col">
          <% unless p1.nil? %>
            <div class="iamge">
              <% if p1.image.present? %>
                <%= link_to image_tag p1.image, product_detail_path(product.id) %>
              <% end %>
            </div>
            <%= p1.name %>
            <%= p1.price %>円
          <% end %>
        </div>
        <div class="col">
          <% if p2 != nil %>
          <div class="iamge">
              <%= p2.image %>
            </div>
            <%= p2.name %>
            <%= p2.price %>円
          <% end %>
        </div>
        <div class="col">
          <% if p3 != nil %>
          <div class="iamge">
              <%= p3.image %>
            </div>
            <%= p3.name %>
            <%= p3.price %>円
          <% end %>
        </div>
        <div class="col">
          <% if p4 != nil %>
          <div class="iamge">
              <%= p4.image %>
            </div>
            <%= p4.name %>
            <%= p4.price %>円
          <% end %>
        </div>
      </div>
    

        
    <% end %>
</div>