<%= form_with(model: report_class) do |form| %>
  <% if report_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report_class.errors.count, "error") %> prohibited this report_class from being saved:</h2>

      <ul>
        <% report_class.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
