<body>
<div class="login">
<h1 class="text-center">Reutyようこそ！</h1>
<h2 class="text-center">ログイン</h2>


<%= form_with url: login_create_path, model: @user do |form| %>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-2">
                <label for="mail">メールアドレス</label>
            </div>
            <div class="col-2">
                <%= form.text_field :mail %>
            </div>        
        </div>
        <div class="row justify-content-center">
            <div class="col-2">
                <label for="password">パスワード</label>
            </div>
            <div class="col-2">
                <%= form.text_field :password %>
            </div>        
        </div>
        

        <div class="row justify-content-center">
            <div class="col-2">
                <%= form.submit "ログイン" %>
            </div>        
        </div>          
    </div>    
    <div class="d-flex justify-content-center">
        <% if flash.now[:notice] %> 
            <div class="flash">
                <font size="4" color="red"><%= flash.now[:notice] %></font>
            </div>
        <% end %>
    </div>    
        
        

<% end %>

