<h1 class="text-center">Reutyへようこそ！</h1>
<h2 class="text-center">アカウント作成</h2>

<%= form_with url: make_account_create_path, model: @user do |form| %>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-2">
                <label for="name">名前</label>
            </div>
            <div class="col-2">
                <%= form.text_field :name %>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2">
                <label for="password">パスワード</label>
            </div>
            <div class="col-2">
                <%= form.text_field :password %>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2">
                <label for="mail">メールアドレス</label>
            </div>
            <div class="col-2">
                <%= form.text_field :mail %>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2">
                <label for="address">住所</label>
            </div>
            <div class="col-2">
                <%= form.text_field :address %>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2">
                <label for="image">プロフィール画像</label>
            </div>
            <div class="col-2">
                <%= form.file_field :image %>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-2">
                <%= form.submit "アカウントを作成する" %>
            </div>
        </div>
    </div>

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <% @user.errors.full_messages.each do |message| %>
                    <font size="3" color="red"><li><%= message %></li></font>
                <% end %>
            </div>    
        </div> 
    </div>       

<% end %>   
