<p id="notice"><%= notice %></p>
<div class="sticky-top text-bg-dark bg-gradient  shadow-sm d-flex align-items-center" style="height:50px;">
  <div class="container">
    <div class="row">
      <h2 class="col">お気に入り一覧</h2>
      <div class="col back"><%= link_to image_tag("/assets/back(2).png"), home_path %></div>
    </div>
  </div>
</div>
<table class="table table-sm">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th><h3>商品名</h3></th>
      <th><h3>価格</h3></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="table-group-divider">
    
    <% @favorites.each do |favorite| %>
      <% if favorite.product.sale == "販売中" %>
        <tr>
          <td>
            <div class="img-list">
              <% if favorite.product.image.present? %>
                <%= link_to image_tag("/assets/product/#{favorite.product.image}"), product_detail_path(favorite.product.id) %>
              <% else %>
                <%= link_to image_tag("/assets/product/sample.jfi"), product_detail_path(favorite.product.id) %>
              <% end %>
            </div>
          </td>
          <td class="text-list"><h3><%= favorite.product.name %><h3></td>
          <td class="text-list"><h3>￥<%= favorite.product.price %><h3></td>
          <td class="text-list"><h3><%= link_to '削除', like_destroy_path(favorite.id), method: :delete, data: { confirm: 'Are you sure?' } %></h3></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>