<p id="notice"><%= notice %></p>

<h2>お気に入り一覧</h2>

<table>
  <thead>
    <tr>
      <th>商品画像</th>
      <th>商品名</th>
      <th>価格</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favorites.each do |favorite| %>
      <tr>
        <td>
          <% if favorite.product.image.present? %>
              <%= link_to image_tag("/assets/product/#{favorite.product.image}") %>
            <% else %>
              <%= link_to image_tag("/assets/product/sample.jfif") %>
            <% end %>
        </td>
        <td><h4><%= favorite.product.name %><h4></td>
        <td><h4>￥<%= favorite.product.price %><h4></td>
        <td><%= link_to '削除', like_destroy_path(favorite.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to image_tag("/assets/back.png"), home_path %>